html {
    background-image: url(../Images/kumamon_background.png);
}

    .highlight { 
        color: #ED1C24
}
    .lowlight { 
        color: #000000 
}

nav {padding: 10px 0px 15px 0px;
    
}

body {
    width: 960px;
    padding: auto;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
       
    !border: solid 12px #ED1C24;
    border-radius: 30px;
    background-color: #8c8c8c;
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}

a{
    font-size: 12pt;
    font-family: 'Nunito', sans-serif;
    color: black;
    text-decoration: none;
}

a:hover{
    color:#fff;
}

h1{
    font-size: 40;
    font-family: 'Codystar', cursive;
    color: #000;
    text-shadow: 1px 1px #000;
}

p{
    font-size: 12pt;
    line-height: 14pt;
    padding: 0px 50px 50px 50px;
}

img{
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}